.nav {
    background-color: #3b1b0c;
}
.fill {
    width: 100%;
    height: 20%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}


.center-spacer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}