<html>
    <head>
        <title>Base Camp Nomination</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <nav class="navbar navbar-expand-lg nav">
        <div class="d-flex nav">
            <a class="nav-link" href="/" style="color: #6f788a!important;">
                Home
            </a>

            <a class="nav-link" href="/admin" style="color: #6f788a!important;">
                Administration
            </a>
        </div>
    </nav>

    <header id="myCarousel" class="carousel slide">
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div
                    class="fill"
                    style="background-image:url('../images/nav-bg.png');"
                >
                    <span class="center-spacer"></span>
                    <img
                        src="../images/basecamp-logo.png"
                        style="vertical-align:middle;"
                        alt="Base Camp Coding Academy"
                    />
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="container">
            <form action="/employer" method="GET">
                <div>
                    <label>Name:
                    <input type="text" name="name" required />
                    </label>
                </div>

                <div>
                    <label>Address:
                    <input type="text" name="address" required />
                    </label>
                </div>

                <div>
                    <label>Position:
                    <input type="text" name="position" required />
                    </label>
                </div>

                <div>
                    <label> Email:
                    <input type="email" name="location" required />
                    </label>
                </div>

                <div>
                    <label>Benefits:
                    <textarea name="benefits" style="width:40rem; padding-bottom:2rem;" required></textarea>
                    </label>
                <div>

                <form>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Select Image: </label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" required>
                  </div>
                </form>

                <button type="submit" class=" btn btn-primary mt-2"> Submit </button>
            </form>
        </div>
    </body>
</html>
