<html>
    <head>
            <title>Job Postings</title>
            <meta charset="utf-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1, user-scalable=no"
            />
            <link rel="stylesheet" href="../css/main.css" />
            <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous"
            />
    </head>

    <nav class="navbar navbar-expand-lg nav">
        <div class="d-flex nav">
         <a class="nav-link" href="/sign-up" style="color: #6f788a!important;" > Sign Up </a>

         <a class="nav-link" href="/admin" style="color: #6f788a!important;"> Administration </a>
        </div>
    </nav>

    <header id="myCarousel" class="carousel slide">
            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div
                            class="fill"
                            style="background-image:url('../images/nav-bg.png');"
                    >
                        <span class="center-spacer"></span>
                        <img
                                src="../images/basecamp-logo.png"
                                style="vertical-align:middle;"
                                alt="Base Camp Coding Academy"
                        />
                    </div>
                </div>
            </div>
    </header>
    <body>
      <div>
          <form method="GET">
                <input class="btn btn-info" type="submit" name="ABC" value="ABC">
                <input class="btn btn-info" type="submit" name="oldest" value="Oldest">
                <input class="btn btn-info" type="submit" name="newest" value="Newest">
          </form>
      </div>
         {{#employers}}
                <div class="container list-components mx-auto shadow">
                   <img class="post-img" src="{{ logo_url }}">
                   <a href="home/{{id}}" class=""> <h4>{{ name }} </h4></a>
                    <h4 class="text-justify">{{ address }} </h4>
                    <h4 class="text-justify">{{ position }} </h4>
                    <h4 class="text-justify">{{ description }} </h4>
                    <h4 class="text-justify">{{ benefits }} </h4>
                    <h4 class="text-justify">{{ email }} </h4>



                     <form action="/admin/{{id}}/HomeComments" method="POST">
                      <div style="margin-left: 11rem; width: 50rem;">
                         <h4>Leave Comment: </h4>
                             <input type="text" name="comment_body" pattern="[A-Za-z]{6,}" class="ml-5">

                             <button type="submit" class="btn btn-info"> Comment </button>
                         </div>
                     </form>

                         <div class="d-flex">
                              <h4>Comments:<h4>
                               {{ #comments }}
                                   <p> {{ comment_body }} </p>
                               {{ /comments }}
                         </div>

                </div>
          {{/employers}}

     </body>

</html>