<html>
    <head>
        <title>Job Postings</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <nav class="navbar navbar-expand-lg nav">
        <div class="d-flex nav">
            <a class="nav-link" href="/home" style="color: #6f788a!important;">
                Home
            </a>

            <a class="nav-link" href="/admin" style="color: #6f788a!important;">
                Administration
            </a>
        </div>
    </nav>

    <header id="myCarousel" class="carousel slide">
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div
                    class="fill"
                    style="background-image:url('../images/nav-bg.png');"
                >
                    <span class="center-spacer"></span>
                    <img
                        src="../images/basecamp-logo.png"
                        style="vertical-align:middle;"
                        alt="Base Camp Coding Academy"
                    />
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="container mx-auto border-dark shadow mt-3">
            <form action="/sign-up" method="POST">
                <div class="d-flex pt-3 mb-2" >
                    <h5  style="width: 5.5rem;"> Name: </h5>
                    <input type="text" name="name" required/>
                </div>


                <div  class="d-flex  mb-2">
                    <h5 style="width: 5.5rem;"> Address:</h5>
                    <input type="text" name="address" required/>
                </div>

                <div class="d-flex mb-2 ">
                    <h5 style="width: 5.5rem;"> Position:</h5>
                    <input type="text" name="position" required/>
                </div>
                <div class="d-flex mb-2">
                    <div class="mr-2 mt-4">
                        <h5 style="width: 6.5rem;"> Description:</h5>
                    </div>
                    <div class="mb-2">
                        <textarea name="description" style="width:40rem; padding-bottom:2rem;" required></textarea>
                    </div>
                </div>

                <div class="d-flex mb-2">
                    <div class="mr-2 mt-4">
                        <h5 style="width: 5.5rem;">Benefits:</h5>
                    </div>
                    <div class="mb-2">
                        <textarea name="benefits" style="width:40rem; padding-bottom:2rem;" required></textarea>
                    </div>
                </div>

                <div class="d-flex mb-2">
                    <h5 style="width: 5.5rem;"> Email: </h5>
                    <input type="email" name="email" required />
                </div>

               <div class="d-flex mb-2">
                    <div>
                         <h5 style="width: 8rem;">Select Image: </h5>
                    </div>
                    <div>
                        <input type="text" name="logo_url" required>
                    </div>
               </div>

                <button type="submit" class="btn btn-primary mt-2 form-button"> Submit </button>
            </form>
        </div>
    </body>
</html>
